<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <!--配置文件主要写以下三部分内容-->
    <!--	第一部分：不需要权限控制的资源	-->
    <!--	第二部分：页面拦截规则  	-->
    <!--	第三部分：认证管理器	-->
    <!-- 设置页面不登陆也可以访问 -->

    <http pattern="/login.html" security="none"></http>
    <http pattern="/login_error.html" security="none"></http>
    <!--以下注释一旦取消，就无法正常运行，或与/**有关，之后解决-->
<!--    <http pattern="/img/**" security="none"></http>-->
<!--    <http pattern="/css/**" security="none"></http>-->
<!--    <http pattern="/img/**" security="none"></http>-->
<!--    <http pattern="/css/**" security="none"></http>-->
<!--    <http pattern="/js/**" security="none"></http>-->
<!--    <http pattern="/plugins/**" security="none"></http>-->

    <!-- 页面的拦截规则    use-expressions:是否启动SPEL表达式 默认是true -->
    <http>
        <!-- 当前用户必须有ROLE_USER的角色 才可以访问根目录及所属子目录的资源 -->
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
        <!-- 开启表单登陆功能 -->
        <form-login login-page="/login.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/login_error.html" always-use-default-target="true"/>
        <!--关闭CSRF保护	-->
        <csrf disabled="true"/>
        <!--    允许在框架内显示静态页面，负责security默认会不显示框架内的静态页面    -->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
    <!--  配置退出      -->
    <logout/>
    </http>

    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="123456" authorities="ROLE_USER"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>